<div class="row">
  <%= render :partial => "admin/companies/sidebar"%>
  <div class="col-md-10">
    <div class=" right">
      <%=link_to edit_admin_company_member_path(@company,@member), :class => "btn btn-default" do%>
              <span class="glyphicon glyphicon-edit"></span>
      <%end%>
      <%=link_to admin_company_members_path, :class=>"btn btn-default" do%>
      <span class="glyphicon glyphicon-arrow-left"></span>
      <%end%>
    </div>

    <br>

    <table class="table table-striped">

      <tr>
        <th>姓名Name:</th>
        <td><%=@member.name%></td>
      </tr>

      <tr>
        <th>職位:</th>
        <td><%=@member.office%></td>
      </tr>

      <tr>
        <th>關於我:</th>
        <td>
          <%=simple_format @member.about%>
        </td>
      </tr>

      <tr>
        <th>照片photo:</th>
        <%if @member.photo.present?%>
        <td><%=image_tag @member.photo(:thumb)%>
            <%=@member.photo_alt%>
        </td>

        <%end%>
      </tr>

    </table>
  </div>
</div>
