<div class="col-md-2">
    <div class="list-group admin-sidebar">
    <%=link_to admin_companies_path, :class=>"list-group-item" do%>
      <span class="glyphicon glyphicon-zoom-in"></span>
      公司
    <%end%>

    <%=link_to admin_all_job_path, :class=>"list-group-item" do%>
      <span class="glyphicon glyphicon-list-alt"></span>
      職缺
    <%end%>

    <%=link_to admin_users_path, :class=>"list-group-item" do%>
      <span class="glyphicon glyphicon-education"></span>
      求職者
    <%end%>

    <%=link_to admin_articles_path, :class=>"list-group-item" do%>
      <span class="glyphicon glyphicon-pencil"></span>
      文章
    <%end%>

    <%=link_to admin_company_categories_path, :class=>"list-group-item" do%>
      <span class="glyphicon glyphicon-th"></span>
      類別
    <%end%>

    <%=link_to admin_company_form_path,  :class=>"list-group-item" do%>
      <span class="glyphicon glyphicon-th-list"></span>
      公司諮詢表單
    <%end%>

    <%=link_to admin_adverts_path,  :class=>"list-group-item" do%>
      <span class="glyphicon glyphicon-indent-right"></span>
      廣告活動
    <%end%>
    </div>
</div>