<div class="row">
  <%= render :partial => "admin/companies/sidebar"%>
  <div class="col-md-10">

    <div class="right">
      <ol class="breadcrumb">
        <%=link_to  admin_companies_path do%>
        <%=@company.brand%>
        <%end%>
        <li>/職缺一覽</li>
      </ol>
      <!-- back -->
      <%=link_to admin_companies_path, :class=>"btn btn-default" do%>
      <span class="glyphicon glyphicon-arrow-left"></span>
      <%end%>
      <!-- new -->
      <%=link_to new_admin_company_job_path, :class=>"btn btn-default" do%>
      <span class="glyphicon glyphicon-plus"></span>
      <%end%>
    </div>


  <br>


    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>職缺名稱</th>
        <th>類別</th>
        <th>職缺狀態</th>
        <th>刊登時間</th>
        <th>View</th>
        <th  style="text-align:center">管理者編輯</th>
      </tr>
      <%@jobs.each do |j|%>
        <tr class="<%=job_status_class(j)%>">
          <td><%=j.id%></td>
          <td><%=j.name%></td>
          <td><%=j.job_category.name%></td>
          <td><%=t(j.status, :scope => "job.status")%></td>
          <td><%=j.published_on%></td>
          <td><%=j.views_count%></td>
          <td style="text-align:center">
            <%=link_to admin_company_job_path(@company,j), :class => "btn btn-default" do%>
              <span class="glyphicon glyphicon-eye-open"></span>
            <%end%>
            <%=link_to edit_admin_company_job_path(@company,j), :class => "btn btn-default" do%>
              <span class="glyphicon glyphicon-edit"></span>
            <%end%>
            <%=link_to admin_company_job_path(@company,j), :method => :delete, :class=>"btn btn-default",data: { confirm: "不～～～" } do%>
              <span class="glyphicon glyphicon-trash"></span>
            <%end%>
          </td>

        </tr>
      <%end%>
    </table>
  </div>
</div>
