
  <%= render :partial => "admin/companies/sidebar"%>
  <div class="col-md-10">
    <div class="col-md-3">
      <div class="left">
        <h1>廣告一覽 <%=@adverts.size%></h1>
      </div>
    </div>
    <div class="col-md-9 padding_r">
      <div class=" right">
        <!-- new -->
        <%=link_to new_admin_advert_path, :class=>"btn btn-default" do%>
        <span class="glyphicon glyphicon-plus"></span>
        <%end%>
      </div>
    </div>


  <br>

    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>廣告名稱</th>
        <th>廣告時間</th>
        <th  style="text-align:center">管理者編輯</th>
      </tr>
      <%@adverts.each do |a|%>
        <tr>
          <td><%=a.id%></td>
          <td><%=a.name%></td>
          <td><%=a.date%></td>
          <td style="text-align:center">
            <%=link_to admin_advert_path(a), :class => "btn btn-default btn-xs" do%>
              <span class="glyphicon glyphicon-eye-open"></span>
            <%end%>
            <%=link_to edit_admin_advert_path(a), :class => "btn btn-default btn-xs" do%>
              <span class="glyphicon glyphicon-edit"></span>
            <%end%>
            <%=link_to admin_advert_path(a), :method => :delete, :class=>"btn btn-default  btn-xs",data: { confirm: "不～～～" } do%>
              <span class="glyphicon glyphicon-trash"></span>
            <%end%>
          </td>

        </tr>
      <%end%>
    </table>
  </div>
